$height: 120px;

.snappy-select {
    display: inline-flex;

    > ul {
        float: left;
        display: block;
        box-sizing: border-box;
        border-radius: 25px;
        margin: 0;
        padding: 0 7px;
        text-align: center;
        box-shadow: 1px 1px 5px -2px #000 inset;
        height: $height;
        overflow: auto;
        overflow-scrolling: touch;
        scroll-behavior: smooth;
        scroll-snap-type: y proximity;
        scroll-snap-align: start;
        position: relative;

        > * {
            display: flex;
            position: relative;
            padding: 0;
            height: 100%;
            line-height: 1;
            text-align: center;
            scroll-snap-align: center;
            transition: opacity .4s;
            font-size: $height*0.45;
            font-weight: bold;
            justify-content: center;
            align-items: center;
            opacity: 0;

            &:first-child {
                margin-top: 0;
            }

            &.visible {
                opacity: .5;
            }

            &.selected {
                opacity: 1;
            }
        }
    }
}
