<template>
    <div class="snappy-select">
      <ul @scroll="check" ref="container">
        <li :class="{ 'visible': visible, 'selected': index === selected }"
            v-for="(snap, index) in values"
            :key="snap"
            :data-value="snap"
            :style="{
              marginTop: index === 0 ? 0 : margin,
              marginBottom: index === values.length - 1 ? 0 : margin
            }"
        >{{ snap }}</li>
      </ul>
    </div>
</template>

<script>
import '../style/index.scss';
import { debounce, indexInParent } from '../helpers';

export default {

  data() {
    return {
      visible: false,
      margin: 0,
    };
  },

  props: {
    values: {
      type: Array,
      required: true,
    },

    selected: {
      type: Number,
      required: true,
    },
  },

  created() {
    // Debounce needs separate instance for each component
    this.check = debounce((e) => {
      this.setSelected(e);
    }, 50);
  },

  mounted() {
    this.setMargin();

    this.$nextTick(() => {
      setTimeout(() => {
        this.visible = true;
        this.scrollToSelected(this);
      }, 500);
    });
  },

  methods: {
    setMargin() {
      const { children } = this.$refs.container;

      const height = this.$refs.container.scrollHeight;

      this.margin = `-${Math.ceil((height / children.length) / 2.5)}px`;
    },

    check() {},

    scrollToSelected() {
      const { children } = this.$refs.container;
      let scrollTo = 0;
      let element;

      Object.keys(children).forEach((key) => {
        if (key >= this.selected) return;
        element = children[key];

        scrollTo += element.getBoundingClientRect().height + parseFloat(this.margin);
      });

      this.$refs.container.scrollTo(0, scrollTo);
    },

    setSelected(e) {
      // uses native elementFromPoint for better performance
      const rect = e.target.getBoundingClientRect();
      const oW = e.target.offsetWidth / 2;
      const oH = e.target.offsetHeight / 2;
      const centerCell = document.elementFromPoint(rect.left + oW, rect.top + oH);
      const index = indexInParent(centerCell);

      this.$emit('update:selected', index);
    },
  },
};
</script>
