<template>
  <section id="app">
    <div>
      <snap-select :values="values" :selected.sync="selected"></snap-select>

      <p>
        <strong>Index:</strong> {{ selected }} <br>
        <strong>Value:</strong> {{ values[selected] }}
      </p>
    </div>

    <div>
      <snap-select :values="values2" :selected.sync="selected2"></snap-select>

      <p>
        <strong>Index:</strong> {{ selected2 }} <br>
        <strong>Value:</strong> {{ values2[selected2] }}
      </p>
    </div>

    <div>
      <snap-select :values="values3" :selected.sync="selected3"></snap-select>

      <p>
        <strong>Index:</strong> {{ selected3 }} <br>
        <strong>Value:</strong> {{ values3[selected3] }}
      </p>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Demo',

  data() {
    return {
      values: [1, 3, 4, 6, 7, 12, 5, 20, 22, 13],
      values2: [1, 2, 3, 4, 5, 6, 7, 12, 13, 14, 15],
      values3: [1, 2, 3, 4, 5, 6, 7, 12, 13, 14, 15],
      selected: 6,
      selected2: 3,
      selected3: 10,
    };
  },
};
</script>

<style lang="scss" scoped>
  #app {
    display: flex;
    flex-direction: row;

    > div {
      margin-right: 30px;
    }
  }
</style>
